body {
    padding: 0px;
    margin: 0px;
}
h1 {
    margin:0px;
    text-align: center;
    padding: 0px;
    color: gold;
    font-style: oblique;
}
header {
    background-color: black;
    height: 8vh;
}

.content {
    background-color: gray;
    height: 91vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.moviesList {
    width: 33%;
    height: 97%;
    background-color: rgb(5, 75, 75);
    overflow-y: auto;
    border-radius: 10px;
    justify-content: space-around;
}

.movieDetails {
    width: 65%;
    height: 97%;
    background-color: rgb(170, 21, 21);
    border-radius: 10px;
  
}
h2 {
    text-align: center;
    margin: 0px;
    color: rgb(167, 18, 18);

}
.detailsDiv {
    padding-top: 25px;
    width: 85%;
    display: flex;
    justify-content: space-around;
    margin: auto;
    align-items: center;


}

.key {
    color: teal;
    font-weight: bold;
    font-size: 17px;
    margin-right: 5px;
  }
  
  .value {
    color: whitesmoke;
    font-weight: bold;
    font-size: 17px;
  }
  
  p {
    color: whitesmoke;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 10px;
    font-size: 17px;
  }
  
  img {
    max-width: 50%;
    max-height: 400px;
    border-radius: 5px;
    margin-left: 35%;
    align-items: center;

  }
  
  .actions {
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
  }
  
  .buy {
    background-color: green;
    color: black;
    font-weight: bold;
    font-size: 17px;
    border: none;
    border-radius: 10px;
    padding: 5px 10px;
  }

  .buy-disabled {
    background-color: transparent;
    color: gray;
    border: none;
    font-weight: bold;
    font-size: 17px;
  }
ul {
  color: blanchedalmond;
  justify-content: space-around;
  padding: 10px;
  margin-top: auto;
}
  